.home-header { 
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    background-color: #1c1c1c;
    padding: 10px 20px; /* Reduce el padding para ajustar el tamaño del header */
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a,
  .navbar ul li button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar ul li button {
    padding: 8px 12px; /* Añade padding para el botón */
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .navbar ul li a:hover,
  .navbar ul li button:hover {
    text-decoration: underline;
  }
  